<form #form="ngForm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <label>Decklist</label>
                    <textarea name="decklist" type="text" class="form-control" rows="30" [(ngModel)]="decklist"></textarea>
                </div>
                <button type="button" class="btn btn-primary" (click)="getVisualDeck()" [disabled]="!decklist">Generate</button>
            </div>
            <div class="col-10">
                <div *ngIf="dataLoaded">
                    <h1>Decklist Loaded</h1>
                    <div *ngFor="let card of cardList | mainboard">
                        {{card.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
