@import '_overrides.scss';
@import '~bootstrap/scss/bootstrap';

.mh-0 {
    min-height: 0;
}

.text-red {
    color: $red;
}

.text-green {
    color: $green;
}

.nav-top {
    & div {
        flex: 1 0 0;
    }
}

.img-svg {
    img {
        height: 2rem;
    }
}

.pt-icon {
    padding-top: 3rem;
}

.pb-icon {
    padding-bottom: 3rem;
}

.wrapper {
    border: 2px solid $orange;

    .b-nrg-top {
        border-top: 2px solid $orange;
    }

    .b-nrg-bottom {
        border-bottom: 2px solid $orange;
    }

    &.infect {
        border-color: $green;

        .b-nrg-top {
            border-color: $green;
        }

        .b-nrg-bottom {
            border-color: $green;
        }

        .font-nrg {
            color: $green;
        }
    }

    &.gamewins {
        border-color: $red;

        .b-nrg-top {
            border-color: $red;
        }

        .b-nrg-bottom {
            border-color: $red;
        }

        .font-nrg {
            color: $red;
        }
    }
}

.font-nrg {
    font-family: 'Kimberley Bl';
    color: $orange;
}

.value {
    font-size: 7rem;
}

.btn {
    border-width: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    background-color: transparent;

    &:focus {
        box-shadow: none;
    }

    &.btn-xl {
        font-size: 2.5rem;
    }

    &.btn-update {

        &:hover {
            color: darken($orange, 10%);
        }
    }

    &.btn-wins {
        color: $red;

        &:hover {
            color: darken($red, 10%);
        }
    }

    &.btn-life {
        color: $orange;

        &:hover {
            color: darken($orange, 10%);
        }
    }

    &.btn-muted {
        color: $muted !important;

        &:hover {
            color: darken($muted, 10%) !important;
        }
    }

    &.btn-outline-dark {
        border-width: 1px;
    }
}

.region {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    height: 50%;
    width: 50%;
    z-index: 100;

    &.top-left {
        top: 0;
        left: 0;
    }

    &.bottom-left {
        bottom: 0;
        left: 0;
    }

    &.top-right {
        top: 0;
        right: 0;
    }

    &.bottom-right {
        bottom: 0;
        right: 0;
    }
}

.input-life {
    height: calc(5rem + 2px);
    font-size: 3rem;
    width: 150px;
    text-align: center;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

a.nav-link {
    color: #fff;

    &:hover {
        color: $orange;
    }
}

.border-b {
    border-bottom: 1px solid #000;
}

app-chat {
    max-height: 700px;
}

.scroll-y {
    overflow-y: auto;
}

.message {
    border-bottom: 1px solid $muted;
}

.hidden {
    display: none !important;
}

@media (max-width: 767.98px) {
    .btn-xl {
        font-size: 1rem;
    }
}

@media (max-width: 767.98px) and (orientation:landscape) {
    html {
        font-size: 10px;
    }

    .value {
        font-size: 5rem;
    }

    .pt-icon {
        padding-top: 1rem;
    }

    .pb-icon {
        padding-bottom: 1rem;
    }
}

@media (max-width: 767.98px) and (orientation:portrait) {
    html {
        font-size: 12px;
    }

    .pt-icon {
        padding-top: 1.5rem;
    }

    .pb-icon {
        padding-bottom: 1.5rem;
    }
}
