@import '~bootstrap/scss/bootstrap';

body {
    background-color: black;
    color: white;
}

.rotate-text-left {
    transform: rotate(-90deg);
}

.rotate-text-right {
    transform: rotate(90deg);
}
