@font-face {
    font-family: 'Kimberley Bl';
    src: url('KimberleyBl-Regular.eot');
    src: url('KimberleyBl-Regular.eot?#iefix') format('embedded-opentype'),
        url('KimberleyBl-Regular.woff2') format('woff2'),
        url('KimberleyBl-Regular.woff') format('woff'),
        url('KimberleyBl-Regular.ttf') format('truetype'),
        url('KimberleyBl-Regular.svg#KimberleyBl-Regular') format('svg');
    font-weight: 900;
    font-style: normal;
}

