<div class="d-flex flex-column flex-fill wrapper p-4">
    <ngb-tabset justify="end" [destroyOnHide]="false" (tabChange)="tabChange($event)" class="scroll-y">
        <!--MATCHES-->
        <ngb-tab *ngFor="let match of tournament.matches" [title]="match.title">
            <ng-template ngbTabContent>
                <form class="d-flex flex-column bg-white p-4" #form="ngForm">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="{{match.name + '_active'}}" id="{{match.name + '_active'}}" [(ngModel)]="match.available" />
                        <label class="form-check-label" for="{{match.name + '_active'}}">Active</label>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="{{match.name + '_begin'}}" id="{{match.name + '_begin'}}" [(ngModel)]="match.begin" />
                        <label class="form-check-label" for="{{match.name + '_begin'}}">Ready to Start</label>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-dark d-inline-flex align-items-center justify-content-center" (click)="toggleSideboards()">
                            <fa-icon [icon]="faIcons.faTimes" *ngIf="showSideboard" size="2x"></fa-icon>
                            <span class="ml-2" *ngIf="showSideboard">Hide Sideboards</span>
                            <fa-icon [icon]="faIcons.faList" *ngIf="!showSideboard" size="2x"></fa-icon>
                            <span class="ml-2" *ngIf="!showSideboard">Show Sideboards</span>
                        </button>
                    </div>
                    <fieldset [disabled]="!match.available" class="text-dark" *ngIf="showSideboard">
                        <div class="d-flex flex-fill">
                            <div class="d-flex flex-column flex-grow-1 pr-2">
                                <h3>Left Player</h3>
                                <div class="form-group">
                                    <label>Sideboard</label>
                                    <textarea class="form-control" rows="15" name="leftPlayer_sideboard" [(ngModel)]="match.leftPlayer.sideboard"></textarea>
                                </div>
                            </div>
                            <div class="d-flex flex-column flex-grow-1 pl-2">
                                <h3 class="text-right">Right Player</h3>
                                <div class="form-group">
                                    <label class="text-right w-100">Sideboard</label>
                                    <textarea class="form-control" rows="15" name="rightPlayer_sideboard" [(ngModel)]="match.rightPlayer.sideboard"></textarea>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-dark btn-block btn-xl font-nrg" [class.btn-update]="form.dirty || dataChanged" [class.btn-muted]="!(form.dirty || dataChanged)" (click)="onUpdate()">UPDATE</button>
                        </div>
                    </fieldset>
                    <fieldset [disabled]="!match.available" class="text-dark" *ngIf="!showSideboard">
                        <div class="d-flex flex-fill">
                            <div class="d-flex flex-column flex-grow-1">
                                <h3>Left Player</h3>
                                <div class="form-group row">
                                    <label for="leftPlayerName" class="col-2 col-form-label text-right">Name</label>
                                    <div class="col-10">
                                        <input type="text" class="form-control" name="leftPlayerName" [(ngModel)]="match.leftPlayer.name" placeholder="Name" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="leftPlayerDeck" class="col-2 col-form-label text-right">Deck</label>
                                    <div class="col-10">
                                        <input type="text" class="form-control" name="leftPlayerDeck" [(ngModel)]="match.leftPlayer.deck" placeholder="Deck" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="leftPlayerRecord" class="col-2 col-form-label text-right">Record</label>
                                    <div class="col-10">
                                        <input type="text" class="form-control" name="leftPlayerRecord" [(ngModel)]="match.leftPlayer.record" placeholder="Record" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-10 offset-2 d-flex align-items-center justify-content-center mb-3">
                                        <button type="button" class="btn btn-outline-dark" (click)="updateValue(match.leftPlayer, 1)">
                                            <fa-icon [icon]="faIcons.faPlus" size="2x"></fa-icon>
                                        </button>
                                        <input type="number" class="form-control input-life mx-5" name="leftPlayerLife" [(ngModel)]="match.leftPlayer.life" />
                                        <button type="button" class="btn btn-outline-dark" (click)="updateValue(match.leftPlayer, -1)">
                                            <fa-icon [icon]="faIcons.faMinus" size="2x"></fa-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="leftPlayerInfect" class="col-2 col-form-label text-right">Infect</label>
                                    <div class="col-10">
                                        <input type="number" class="form-control" name="leftPlayerInfect" [(ngModel)]="match.leftPlayer.infect" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="leftPlayerWins" class="col-2 col-form-label text-right">Game Wins</label>
                                    <div class="col-10">
                                        <input type="number" class="form-control" name="leftPlayerWins" [(ngModel)]="match.leftPlayer.gamewins" />
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-column justify-content-center align-items-center px-4">
                                <div class="text-center w-100 mb-5">
                                    <button type="button" class="btn btn-outline-dark btn-block" (click)="swapPlayers(match)">
                                        <fa-icon [icon]="faIcons.faSwap" size="2x"></fa-icon>
                                        <div>Swap Players</div>
                                    </button>
                                </div>
                                <div class="text-center w-100">
                                    <button type="button" class="btn btn-outline-dark btn-block" (click)="resetLife(match)">
                                        <fa-icon [icon]="faIcons.faUndo" size="2x"></fa-icon>
                                        <div>Reset Life</div>
                                    </button>
                                </div>
                            </div>
                            <div class="d-flex flex-column flex-grow-1">
                                <h3 class="text-right">Right Player</h3>
                                <div class="form-group row">
                                    <div class="col-10">
                                        <input type="text" class="form-control" name="rightPlayerName" [(ngModel)]="match.rightPlayer.name" placeholder="Name" />
                                    </div>
                                    <label for="rightPlayerName" class="col-2 col-form-label">Name</label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-10">
                                        <input type="text" class="form-control" name="rightPlayerDeck" [(ngModel)]="match.rightPlayer.deck" placeholder="Deck" />
                                    </div>
                                    <label for="rightPlayerDeck" class="col-2 col-form-label">Deck</label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-10">
                                        <input type="text" class="form-control" name="rightPlayerRecord" [(ngModel)]="match.rightPlayer.record" placeholder="Record" />
                                    </div>
                                    <label for="rightPlayerRecord" class="col-2 col-form-label">Record</label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-10 d-flex align-items-center justify-content-center mb-3">
                                        <button type="button" class="btn btn-outline-dark" (click)="updateValue(match.rightPlayer, 1)">
                                            <fa-icon [icon]="faIcons.faPlus" size="2x"></fa-icon>
                                        </button>
                                        <input type="number" class="form-control input-life mx-5" name="rightPlayerLife" [(ngModel)]="match.rightPlayer.life" />
                                        <button type="button" class="btn btn-outline-dark" (click)="updateValue(match.rightPlayer, -1)">
                                            <fa-icon [icon]="faIcons.faMinus" size="2x"></fa-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-10">
                                        <input type="number" class="form-control" name="rightPlayerInfect" [(ngModel)]="match.rightPlayer.infect" />
                                    </div>
                                    <label for="rightPlayerInfect" class="col-2 col-form-label">Infect</label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-10">
                                        <input type="number" class="form-control" name="rightPlayerWins" [(ngModel)]="match.rightPlayer.gamewins" />
                                    </div>
                                    <label for="rightPlayerWins" class="col-2 col-form-label">Game Wins</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-dark btn-block btn-xl font-nrg" [class.btn-update]="form.dirty || dataChanged" [class.btn-muted]="!(form.dirty || dataChanged)" (click)="onUpdate()">UPDATE</button>
                        </div>
                    </fieldset>
                </form>
            </ng-template>
        </ngb-tab>
        <!--TOURNAMENT INFO-->
        <ngb-tab title="Tournament Info">
            <ng-template ngbTabContent>
                <form class="d-flex flex-column bg-white p-4" #form="ngForm">
                    <fieldset class="text-dark">
                        <h3>Tournament Info</h3>
                        <div class="d-flex flex-wrap">
                            <div class="form-group w-50 px-2" *ngFor="let info of tournament.info | displayOrder">
                                <label>{{info.label}}</label>
                                <input type="{{info.type}}" name="{{info.name}}" class="form-control" [(ngModel)]="info.value" />
                            </div>
                        </div>
                    </fieldset>
                    <div>
                        <button type="button" class="btn btn-outline-dark btn-block btn-xl font-nrg" [class.btn-update]="form.dirty || dataChanged" [class.btn-muted]="!(form.dirty || dataChanged)" (click)="onUpdate()">UPDATE</button>
                    </div>
                </form>
            </ng-template>
        </ngb-tab>
        <!--TOP 8-->
        <ngb-tab title="Top 8">
            <ng-template ngbTabContent>
                <form class="d-flex flex-column bg-white p-4" #form="ngForm">
                    <fieldset class="text-dark">
                        <h3>Top 8 Bracket</h3>
                        <div class="d-flex">
                            <div class="d-flex flex-column align-items-center flex-grow-1 px-3">
                                <h5>Quarterfinals <button type="button" class="btn btn-link" (click)="clearTop8('quarters')">Clear</button></h5>
                                <div class="d-flex flex-column justify-content-center flex-grow-1 w-100">
                                    <div class="form-row border-b mb-3">
                                        <div class="form-group pr-2">
                                            <label>#1 Seed Player</label>
                                            <input type="text" name="seed1_name" class="form-control" [(ngModel)]="tournament.top8.quarters[0].name" />
                                        </div>
                                        <div class="form-group">
                                            <label>Deck</label>
                                            <input type="text" name="seed1_deck" class="form-control" [(ngModel)]="tournament.top8.quarters[0].deck" />
                                        </div>
                                        <div class="d-flex flex-column justify-content-end mb-3 pl-2">
                                            <button type="button" class="btn btn-link"
                                                    [disabled]="!(tournament.top8.quarters[0].name.length > 0 && tournament.top8.quarters[0].deck.length > 0)"
                                                    (click)="setWinner(tournament.top8.quarters[0], tournament.top8.semis[0])">
                                                Winner
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group pr-2">
                                            <label>#8 Seed Player</label>
                                            <input type="text" name="seed8_name" class="form-control" [(ngModel)]="tournament.top8.quarters[7].name" />
                                        </div>
                                        <div class="form-group">
                                            <label>Deck</label>
                                            <input type="text" name="seed8_deck" class="form-control" [(ngModel)]="tournament.top8.quarters[7].deck" />
                                        </div>
                                        <div class="d-flex flex-column justify-content-end mb-3 pl-2">
                                            <button type="button" class="btn btn-link"
                                                    [disabled]="!(tournament.top8.quarters[7].name.length > 0 && tournament.top8.quarters[7].deck.length > 0)"
                                                    (click)="setWinner(tournament.top8.quarters[7], tournament.top8.semis[0])">
                                                Winner
                                            </button>
                                        </div>
                                    </div>
                                    <div style="height:50px"></div>
                                    <div class="form-row border-b mb-3">
                                        <div class="form-group pr-2">
                                            <label>#4 Seed Player</label>
                                            <input type="text" name="seed4_name" class="form-control" [(ngModel)]="tournament.top8.quarters[3].name" />
                                        </div>
                                        <div class="form-group">
                                            <label>Deck</label>
                                            <input type="text" name="seed4_deck" class="form-control" [(ngModel)]="tournament.top8.quarters[3].deck" />
                                        </div>
                                        <div class="d-flex flex-column justify-content-end mb-3 pl-2">
                                            <button type="button" class="btn btn-link"
                                                    [disabled]="!(tournament.top8.quarters[3].name.length > 0 && tournament.top8.quarters[3].deck.length > 0)"
                                                    (click)="setWinner(tournament.top8.quarters[3], tournament.top8.semis[1])">
                                                Winner
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group pr-2">
                                            <label>#5 Seed Player</label>
                                            <input type="text" name="seed5_name" class="form-control" [(ngModel)]="tournament.top8.quarters[4].name" />
                                        </div>
                                        <div class="form-group">
                                            <label>Deck</label>
                                            <input type="text" name="seed5_deck" class="form-control" [(ngModel)]="tournament.top8.quarters[4].deck" />
                                        </div>
                                        <div class="d-flex flex-column justify-content-end mb-3 pl-2">
                                            <button type="button" class="btn btn-link"
                                                    [disabled]="!(tournament.top8.quarters[4].name.length > 0 && tournament.top8.quarters[4].deck.length > 0)"
                                                    (click)="setWinner(tournament.top8.quarters[4], tournament.top8.semis[1])">
                                                Winner
                                            </button>
                                        </div>
                                    </div>
                                    <div style="height:50px"></div>
                                    <div class="form-row border-b mb-3">
                                        <div class="form-group pr-2">
                                            <label>#3 Seed Player</label>
                                            <input type="text" name="seed3_name" class="form-control" [(ngModel)]="tournament.top8.quarters[2].name" />
                                        </div>
                                        <div class="form-group">
                                            <label>Deck</label>
                                            <input type="text" name="seed3_deck" class="form-control" [(ngModel)]="tournament.top8.quarters[2].deck" />
                                        </div>
                                        <div class="d-flex flex-column justify-content-end mb-3 pl-2">
                                            <button type="button" class="btn btn-link"
                                                    [disabled]="!(tournament.top8.quarters[2].name.length > 0 && tournament.top8.quarters[2].deck.length > 0)"
                                                    (click)="setWinner(tournament.top8.quarters[2], tournament.top8.semis[2])">
                                                Winner
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group pr-2">
                                            <label>#6 Seed Player</label>
                                            <input type="text" name="seed6_name" class="form-control" [(ngModel)]="tournament.top8.quarters[5].name" />
                                        </div>
                                        <div class="form-group">
                                            <label>Deck</label>
                                            <input type="text" name="seed6_deck" class="form-control" [(ngModel)]="tournament.top8.quarters[5].deck" />
                                        </div>
                                        <div class="d-flex flex-column justify-content-end mb-3 pl-2">
                                            <button type="button" class="btn btn-link"
                                                    [disabled]="!(tournament.top8.quarters[5].name.length > 0 && tournament.top8.quarters[5].deck.length > 0)"
                                                    (click)="setWinner(tournament.top8.quarters[5], tournament.top8.semis[2])">
                                                Winner
                                            </button>
                                        </div>
                                    </div>
                                    <div style="height:50px"></div>
                                    <div class="form-row border-b mb-3">
                                        <div class="form-group pr-2">
                                            <label>#2 Seed Player</label>
                                            <input type="text" name="seed2_name" class="form-control" [(ngModel)]="tournament.top8.quarters[1].name" />
                                        </div>
                                        <div class="form-group">
                                            <label>Deck</label>
                                            <input type="text" name="seed2_deck" class="form-control" [(ngModel)]="tournament.top8.quarters[1].deck" />
                                        </div>
                                        <div class="d-flex flex-column justify-content-end mb-3 pl-2">
                                            <button type="button" class="btn btn-link"
                                                    [disabled]="!(tournament.top8.quarters[1].name.length > 0 && tournament.top8.quarters[1].deck.length > 0)"
                                                    (click)="setWinner(tournament.top8.quarters[1], tournament.top8.semis[3])">
                                                Winner
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group pr-2">
                                            <label>#7 Seed Player</label>
                                            <input type="text" name="seed7_name" class="form-control" [(ngModel)]="tournament.top8.quarters[6].name" />
                                        </div>
                                        <div class="form-group">
                                            <label>Deck</label>
                                            <input type="text" name="seed7_deck" class="form-control" [(ngModel)]="tournament.top8.quarters[6].deck" />
                                        </div>
                                        <div class="d-flex flex-column justify-content-end mb-3 pl-2">
                                            <button type="button" class="btn btn-link"
                                                    [disabled]="!(tournament.top8.quarters[6].name.length > 0 && tournament.top8.quarters[6].deck.length > 0)"
                                                    (click)="setWinner(tournament.top8.quarters[6], tournament.top8.semis[3])">
                                                Winner
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-center flex-grow-1 px-3">
                                <h5>Semifinals <button type="button" class="btn btn-link" (click)="clearTop8('semis')">Clear</button></h5>
                                <div class="d-flex flex-column justify-content-center flex-grow-1 w-100">
                                    <div class="form-row border-b mb-3">
                                        <div class="form-group pr-2">
                                            <label>Winner of #1 and #8</label>
                                            <input type="text" name="semis_topleft_name" class="form-control-plaintext text-dark" readonly value="{{tournament.top8.semis[0].name}}" />
                                        </div>
                                        <div class="form-group">
                                            <label>Deck</label>
                                            <input type="text" name="semis_topleft_deck" class="form-control-plaintext text-dark" readonly value="{{tournament.top8.semis[0].deck}}" />
                                        </div>
                                        <div class="d-flex flex-column justify-content-end mb-3 pl-2">
                                            <button type="button" class="btn btn-link"
                                                    [disabled]="!(tournament.top8.semis[0].name.length > 0 && tournament.top8.semis[0].deck.length > 0)"
                                                    (click)="setWinner(tournament.top8.semis[0], tournament.top8.finals[0])">
                                                Winner
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group pr-2">
                                            <label>Winner of #4 and #5</label>
                                            <input type="text" name="semis_bottomleft_name" class="form-control-plaintext text-dark" readonly value="{{tournament.top8.semis[1].name}}" />
                                        </div>
                                        <div class="form-group">
                                            <label>Deck</label>
                                            <input type="text" name="semis_bottomleft_deck" class="form-control-plaintext text-dark" readonly value="{{tournament.top8.semis[1].deck}}" />
                                        </div>
                                        <div class="d-flex flex-column justify-content-end mb-3 pl-2">
                                            <button type="button" class="btn btn-link"
                                                    [disabled]="!(tournament.top8.semis[1].name.length > 0 && tournament.top8.semis[1].deck.length > 0)"
                                                    (click)="setWinner(tournament.top8.semis[1], tournament.top8.finals[0])">
                                                Winner
                                            </button>
                                        </div>
                                    </div>
                                    <div style="height:300px"></div>
                                    <div class="form-row border-b mb-3">
                                        <div class="form-group pr-2">
                                            <label>Winner of #3 and #6</label>
                                            <input type="text" name="semis_topright_name" class="form-control-plaintext text-dark" readonly value="{{tournament.top8.semis[2].name}}" />
                                        </div>
                                        <div class="form-group">
                                            <label>Deck</label>
                                            <input type="text" name="semis_topright_deck" class="form-control-plaintext text-dark" readonly value="{{tournament.top8.semis[2].deck}}" />
                                        </div>
                                        <div class="d-flex flex-column justify-content-end mb-3 pl-2">
                                            <button type="button" class="btn btn-link"
                                                    [disabled]="!(tournament.top8.semis[2].name.length > 0 && tournament.top8.semis[2].deck.length > 0)"
                                                    (click)="setWinner(tournament.top8.semis[2], tournament.top8.finals[1])">
                                                Winner
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group pr-2">
                                            <label>Winner of #2 and #7</label>
                                            <input type="text" name="semis_bottomright_name" class="form-control-plaintext text-dark" readonly value="{{tournament.top8.semis[3].name}}" />
                                        </div>
                                        <div class="form-group">
                                            <label>Deck</label>
                                            <input type="text" name="semis_bottomright_deck" class="form-control-plaintext text-dark" readonly value="{{tournament.top8.semis[3].deck}}" />
                                        </div>
                                        <div class="d-flex flex-column justify-content-end mb-3 pl-2">
                                            <button type="button" class="btn btn-link"
                                                    [disabled]="!(tournament.top8.semis[3].name.length > 0 && tournament.top8.semis[3].deck.length > 0)"
                                                    (click)="setWinner(tournament.top8.semis[3], tournament.top8.finals[1])">
                                                Winner
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-center flex-grow-1 px-3">
                                <h5>Finals <button type="button" class="btn btn-link" (click)="clearTop8('finals')">Clear</button></h5>
                                <div class="d-flex flex-column justify-content-center flex-grow-1 w-100">
                                    <div class="form-row border-b mb-3">
                                        <div class="form-group pr-2 col-6">
                                            <label>Winner of Top Semis</label>
                                            <input type="text" name="finals_left_name" class="form-control-plaintext text-dark" readonly value="{{tournament.top8.finals[0].name}}" />
                                        </div>
                                        <div class="form-group col-6">
                                            <label>Deck</label>
                                            <input type="text" name="finals_left_deck" class="form-control-plaintext text-dark" readonly value="{{tournament.top8.finals[0].deck}}" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group pr-2 col-6">
                                            <label>Winner of Bottom Semis</label>
                                            <input type="text" name="finals_right_name" class="form-control-plaintext text-dark" readonly value="{{tournament.top8.finals[1].name}}" />
                                        </div>
                                        <div class="form-group col-6">
                                            <label>Deck</label>
                                            <input type="text" name="finals_right_deck" class="form-control-plaintext text-dark" readonly value="{{tournament.top8.finals[1].deck}}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-dark btn-block btn-xl font-nrg" [class.btn-update]="form.dirty || dataChanged" [class.btn-muted]="!(form.dirty || dataChanged)" (click)="onUpdate()">UPDATE</button>
                        </div>
                    </fieldset>
                </form>
            </ng-template>
        </ngb-tab>
        <!--SCORE KEEPER-->
        <ngb-tab title="Score Keeper">
            <ng-template ngbTabContent>
                <form class="d-flex flex-column bg-white p-4" #form="ngForm">
                    <fieldset class="text-dark">
                        <h3>Outstanding Matches</h3>
                        <div class="form-group">
                            <input type="number" name="outstandingMatches" class="form-control" [(ngModel)]="tournament.scorekeeper.outstandingMatches" />
                        </div>
                        <h3>Players to Watch <button type="button" class="btn btn-link" (click)="clearPlayers2Watch()">Clear</button></h3>
                        <div class="d-flex flex-wrap">
                            <div class="form-row w-100" *ngFor="let player of tournament.scorekeeper.playersToWatch; let i = index; let isFirst = first;">
                                <div class="form-group col-4">
                                    <label>Player</label>
                                    <input type="text" name="player{{i}}_name" class="form-control" [(ngModel)]="player.name" />
                                </div>
                                <div class="form-group col-4">
                                    <label>Record</label>
                                    <input type="text" name="player{{i}}_record" class="form-control" [(ngModel)]="player.record" />
                                </div>
                                <div class="form-group col-3">
                                    <label>Standing</label>
                                    <input type="text" name="player{{i}}_standing" class="form-control" [(ngModel)]="player.standing" />
                                </div>
                                <div class="d-flex flex-column justify-content-end mb-3 pl-2 col-1">
                                    <button type="button" class="btn btn-link" *ngIf="!isFirst" (click)="movePlayerToWatch(tournament.scorekeeper.playersToWatch, i)">Up</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-dark btn-block btn-xl font-nrg" [class.btn-update]="form.dirty || dataChanged" [class.btn-muted]="!(form.dirty || dataChanged)" (click)="onUpdate()">UPDATE</button>
                        </div>
                    </fieldset>
                </form>
            </ng-template>
        </ngb-tab>
        <!--CHAT-->
        <ngb-tab id="chat">
            <ng-template ngbTabTitle>
                <div (click)="clearNewMessages()">Chat <span class="badge badge-light" *ngIf="newMessages > 0">{{newMessages}}</span></div>
            </ng-template>
            <ng-template ngbTabContent>
                <app-chat (newMessage)="newChatMessage($event)"></app-chat>
            </ng-template>
        </ngb-tab>
        <!--CARD SEARCH-->
        <ngb-tab title="Card Search">
            <ng-template ngbTabContent>
                <form class="d-flex flex-column bg-white p-4" #form="ngForm">
                    <div class="form-group">
                        <label>Search for a card:</label>
                        <input *ngIf="cardNames" name="cardSearch" type="text" class="form-control" [(ngModel)]="selectedCard" [ngbTypeahead]="searchCards" />
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="getCardImage()" [disabled]="!selectedCard">Get Card</button>
                    <div *ngIf="selectedImage" class="text-center mt-3">
                        <img *ngIf="!showTransformedCard" class="searchedCard" src="data:image/png;base64,{{selectedImage}}" />
                        <img *ngIf="showTransformedCard" class="searchedCard" src="data:image/png;base64,{{selectedImageTransformed}}" />
                        <br/>
                        <button *ngIf="canTransform" type="button" class="btn btn-primary mt-3" (click)="transformCardImage()">Transform</button>
                    </div>
                    
                </form>
            </ng-template>
        </ngb-tab>
        <!--VISUAL LIST-->
        <ngb-tab title="Visual Decklist">
            <ng-template ngbTabContent>
                <app-visual-deck></app-visual-deck>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
