<div class="d-flex flex-column flex-fill wrapper" [ngClass]="activeSection">
    <div class="d-flex nav-top px-5 align-items-center">
        <div>
            <a class="btn btn-muted" routerLink="/">
                <fa-icon [icon]="faIcons.faArrowLeft" size="2x"></fa-icon>
            </a>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-muted" (click)="swapPlayers()">
                <fa-icon [icon]="faIcons.faSwap" size="2x"></fa-icon>
            </button>
        </div>
        <div class="d-flex align-items-center justify-content-end text-red">
            <fa-icon [icon]="faIcons.faCircle" size="1x"></fa-icon>
        </div>
    </div>
    <div class="d-flex justify-content-center b-nrg-top p-1">
        <h4 class="mb-0">{{tournament.getInfo('round')}}: <span class="text-white">{{match.title}}</span></h4>
    </div>
    <div class="d-flex flex-grow-1 align-items-stretch position-relative b-nrg-top">
        <div class="d-flex flex-column w-50 text-center">
            <div class="text-muted pt-icon">
                <fa-icon [icon]="faIcons.faPlus" size="2x"></fa-icon>
            </div>
            <div class="d-flex flex-column flex-grow-1 align-items-center justify-content-center">
                <ng-template [ngIf]="!mirrored">
                    <h4 class="text-white mb-0">{{match.leftPlayer.name}}</h4>
                    <div class="font-nrg value">
                        <span *ngIf="activeSection === 'life'">{{match.leftPlayer.life}}</span>
                        <span *ngIf="activeSection === 'infect'">{{match.leftPlayer.infect}}</span>
                        <span *ngIf="activeSection === 'gamewins'">{{match.leftPlayer.gamewins}}</span>
                    </div>
                </ng-template>
                <ng-template [ngIf]="mirrored">
                    <h4 class="text-white mb-0">{{match.rightPlayer.name}}</h4>
                    <div class="font-nrg value">
                        <span *ngIf="activeSection === 'life'">{{match.rightPlayer.life}}</span>
                        <span *ngIf="activeSection === 'infect'">{{match.rightPlayer.infect}}</span>
                        <span *ngIf="activeSection === 'gamewins'">{{match.rightPlayer.gamewins}}</span>
                    </div>
                </ng-template>
            </div>
            <div class="text-muted pb-icon">
                <fa-icon [icon]="faIcons.faMinus" size="2x"></fa-icon>
            </div>
        </div>
        <div class="d-flex flex-column w-50 text-center">
            <div class="text-muted pt-icon">
                <fa-icon [icon]="faIcons.faPlus" size="2x"></fa-icon>
            </div>
            <div class="d-flex flex-column flex-grow-1 align-items-center justify-content-center">
                <ng-template [ngIf]="!mirrored">
                    <h4 class="text-white mb-0">{{match.rightPlayer.name}}</h4>
                    <div class="font-nrg value">
                        <span *ngIf="activeSection === 'life'">{{match.rightPlayer.life}}</span>
                        <span *ngIf="activeSection === 'infect'">{{match.rightPlayer.infect}}</span>
                        <span *ngIf="activeSection === 'gamewins'">{{match.rightPlayer.gamewins}}</span>
                    </div>
                </ng-template>
                <ng-template [ngIf]="mirrored">
                    <h4 class="text-white mb-0">{{match.leftPlayer.name}}</h4>
                    <div class="font-nrg value">
                        <span *ngIf="activeSection === 'life'">{{match.leftPlayer.life}}</span>
                        <span *ngIf="activeSection === 'infect'">{{match.leftPlayer.infect}}</span>
                        <span *ngIf="activeSection === 'gamewins'">{{match.leftPlayer.gamewins}}</span>
                    </div>
                </ng-template>
            </div>
            <div class="text-muted pb-icon">
                <fa-icon [icon]="faIcons.faMinus" size="2x"></fa-icon>
            </div>
        </div>
        <div class="region top-left" (click)="updateValue('left', 1)"></div>
        <div class="region bottom-left" (click)="updateValue('left', -1)"></div>
        <div class="region top-right" (click)="updateValue('right', 1)"></div>
        <div class="region bottom-right" (click)="updateValue('right', -1)"></div>
    </div>
    <div class="d-flex align-items-center justify-content-between py-2 px-5 b-nrg-top b-nrg-bottom">
        <div>
            <button type="button" class="btn btn-life" (click)="activeSection = 'life'">
                <fa-icon [icon]="faIcons.faHeart" size="2x"></fa-icon>
            </button>
        </div>
        <div class="img-svg">
            <button type="button" class="btn btn-infect" (click)="activeSection = 'infect'">
                <img src="assets/phyrexian.svg" alt="" />
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-wins" (click)="activeSection = 'gamewins'">
                <fa-icon [icon]="faIcons.faTrophy" size="2x"></fa-icon>
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-muted" (click)="resetValues()">
                <fa-icon [icon]="faIcons.faUndo" size="2x"></fa-icon>
            </button>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-block btn-xl font-nrg" [class.btn-update]="dataChanged" [class.btn-muted]="!dataChanged" (click)="onUpdate()">UPDATE</button>
    </div>
</div>
