<div class="d-flex flex-column flex-fill wrapper">
    <div class="d-flex nav-top px-2">
        <div>
            <fa-icon [icon]="faIcons.faArrowLeft" size="2x"></fa-icon>
        </div>
        <div class="text-center">
            <fa-icon [icon]="faIcons.faSwap" size="2x"></fa-icon>
        </div>
        <div>
            <fa-icon [icon]="faIcons.faCircle" size="2x"></fa-icon>
        </div>
    </div>
    <div class="d-flex flex-grow-1 align-items-stretch b-nrg-top">
        <div class="d-flex flex-column flex-grow-1 text-center b-nrg-right">
            <div>+</div>
            <div class="d-flex flex-column flex-grow-1 align-items-center justify-content-center">
                <div class="name">Brad Brown</div>
                <div class="font-nrg">20</div>
            </div>
            <div>-</div>
        </div>
        <div class="d-flex flex-column flex-grow-1 text-center">
            <div>+</div>
            <div class="d-flex flex-column flex-grow-1 align-items-center justify-content-center">
                <div class="name">Mat Bimonte</div>
                <div class="font-nrg">20</div>
            </div>
            <div>-</div>
        </div>
    </div>
    <div class="d-flex justify-content-between b-nrg-top">
        <div>Life</div>
        <div>Infect</div>
        <div>Wins</div>
        <div>Reset</div>
        <div>Wins</div>
        <div>Infect</div>
        <div>Life</div>
    </div>
    <div class="text-center">
        Update
    </div>
</div>
