<div *ngIf="dataLoaded" class="mtg-mat d-flex">
    <div class="mtg-mainboard">
        <div *ngFor="let pile of cardList | mainboard | piles" class="mtg-pile">
            <div *ngFor="let card of pile; let index = index;" class="mtg-card position-absolute pile-card-{{index}}">
                <div class="mtg-border-fix">
                    <img src="{{card.image}}" />
                </div>
            </div>
        </div>
    </div>
    <div class="mtg-sideboard">
        <div *ngFor="let pile of cardList | sideboard | piles:15" class="mtg-pile">
            <div *ngFor="let card of pile; let index = index;" class="mtg-card position-absolute pile-card-sideboard-{{index}}">
                <div class="mtg-border-fix">
                    <img src="{{card.image}}" />
                </div>
            </div>
        </div>
    </div>
</div>
